<div class="actions">
    <% if @friends %>
        <% form_tag 'update' do %>
            <%= hidden_field_tag(:joke_id, @joke.id) %>
            Välj vän: 
            <select name="screen_name">
                <% @friends.each do |friend| %>
                    <option value="<%= friend[1] %>"><%= friend[0] %> (@<%= friend[1] %>)</option>
                <% end %>
            </select>
            <%= submit_tag("Skicka") %>
            <h1 id="fittext"><%= @joke.joke %></h1>
            <%= link_to("Logga ut från Twitter", logout_path) %>
        <% end %>
    <% else %>
        <h1 id="fittext"><%= @joke.joke %></h1>
        <a href="/" class="primary">Få nytt skämt!</a>
        <%= link_to("Skicka skämt till en Twitter-kompis!", "/auth/twitter", :class => "button") %>
    <% end %>
</div>
