<% if @friends %>
    <% form_tag '/tweet' do %>
        <label for="name">Välj vän</label>
        <select name="screen_name" id="name">
            <% @friends.each do |friend| %>
                <option value="<%= friend[1] %>"><%= friend[0] %> (@<%= friend[1] %>)</option>
            <% end %>
        </select>
        <div class="actions">
            <%= submit_tag("Skicka",:class => "primary") %>
        </div>
        <%= render :partial => "joke" %>
        <div class="actions">
            <%= link_to("Logga ut från Twitter", logout_path, :class => "button") %>
        </div>
    <% end %>
<% else %>
    <div id="joke">
        <%= render :partial => "joke" %>
        <div class="actions">
            <a href="<%= joke_path(@random_id) %>" data-pjax="article" id="new_joke" class="primary">Få nytt skämt!</a>
            <%= link_to("Skicka skämt!", "/auth/twitter", :class => "button") %>
        </div>
    </div>
<% end %>

<div class="sharing">
    <div>
        <a href="http://twitter.com/share?url=<%= url_encode(request.host) %>" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <div>
        <iframe src="http://www.facebook.com/plugins/like.php?app_id=137347343007578&amp;href=<%= url_encode(request.host) %>&amp;send=false&amp;layout=box_count&amp;width=50&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:90px;" allowTransparency="true"> </iframe>
    </div>
</div>
