<% if @friends %>
    <% form_tag '/tweet' do %>
        <label for="name">Välj vän</label>
        <select name="screen_name" id="name">
            <% @friends.each do |friend| %>
                <option value="<%= friend[1] %>"><%= friend[0] %> (@<%= friend[1] %>)</option>
            <% end %>
        </select>
        <div class="actions">
            <%= submit_tag("Skicka",:class => "primary") %>
        </div>
        <%= render :partial => "joke" %>
        <div class="actions">
            <%= link_to("Logga ut från Twitter", logout_path, :class => "button") %>
        </div>
    <% end %>
<% else %>
    <div id="joke">
        <%= render :partial => "joke" %>
        <div class="actions">
            <a href="<%= joke_path(@random_id) %>" data-pjax="article" id="new_joke" class="primary">Få nytt skämt!</a>
            <%= link_to("Skicka skämt!", "/auth/twitter", :class => "button") %>
        </div>
    </div>
<% end %>
